<?xml version="1.0" encoding="utf-8"?>
<settings>
  <formSettings>
    <form key="TagSimulatorMain">
      <position top="7" left="8" />
      <size width="437" height="500" />
      <state windowState="0" />
      <settings>
        <setting key="TagValueWidth" value="96" />
        <setting key="TagNameWidth" value="292" />
      </settings>
    </form>
  </formSettings>
  <columnSettings />
  <nodeSettings />
</settings>